{% if found %}
	<ul class="list-unstyled">
		{# {% for post in posts %} #}
			{# <li><a target="_blank" href="{% url 'post:detail' post.id post.slug %}">{{ post.title }}</a></li> #}
		{# {% endfor %} #}
			{% for post in posts %}
			{# <div class="jumbotron"> #}
				<h2><a href="{% url 'post:detail' post.id post.slug %}">{{ post.title }}</a></h2>
				<p>{{ post.content }} </p>	
				<p>
					<h5><strong>By : {{ post.user.username }} | {{ post.date_modified }} </strong></h5>
				</p>
				<p>
					{% if post.tags %}
						<ul class="list-unstyled list-inline">
							{% for tag in post.tags %}
								<li><span class="label label-default"><a style="color:white" href="?tag={{ tag.id }}">{{ tag }}</a></span></li>
							{% endfor %}
						</ul>			
					{% endif %}	
				</p>
		{% endfor %}
	</ul>
{% else %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		Posts not found..
	</div>
{% endif %}